#projectsPageContainer {
    overflow: scroll;
    display:flex;
    position: fixed;
    top: 0;
    bottom: -30px;
    left: 0;
    right: 0;

}
#pp_one,
#pp_two,
#pp_three,
#pp_four,
#pp_five,
#pp_six,
#pp_seven,
#pp_eight,
#pp_nine,
#pp_ten {
    cursor: pointer;
    display: flex;
    position: absolute;
    overflow: hidden;
    width: 0;
    /* 0-p */
    height: 30%;
    
    background-color: rgb(100, 100, 100);
}
.pp_description a{
    text-decoration: none;
    color: white;
}
#pp_one:hover > .pp_description a p,
#pp_two:hover > .pp_description a p,
#pp_three:hover > .pp_description a p,
#pp_four:hover > .pp_description a p,
#pp_five:hover > .pp_description a p,
#pp_six:hover > .pp_description a p,
#pp_seven:hover > .pp_description a p,
#pp_eight:hover > .pp_description a p,
#pp_nine:hover > .pp_description a p,
#pp_ten:hover > .pp_description a p{
    color: var(--main-orange);
    font-weight: bold;
}
#pp_one:hover > .pp_description,
#pp_two:hover > .pp_description,
#pp_three:hover > .pp_description,
#pp_four:hover > .pp_description,
#pp_five:hover > .pp_description,
#pp_six:hover > .pp_description,
#pp_seven:hover > .pp_description,
#pp_eight:hover > .pp_description,
#pp_nine:hover > .pp_description,
#pp_ten:hover > .pp_description{
    background-position: -100% 0;
}
#pp_one:hover > .pp_image,
#pp_two:hover > .pp_image,
#pp_three:hover > .pp_image,
#pp_four:hover > .pp_image,
#pp_five:hover > .pp_image,
#pp_six:hover > .pp_image,
#pp_seven:hover > .pp_image,
#pp_eight:hover > .pp_image,
#pp_nine:hover > .pp_image,
#pp_ten:hover > .pp_image{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.pp_image{
    background-color: wheat;
}
#pp_one {
    flex-direction: row-reverse;
    top: 0;
    left: 0;

}

#pp_two {
    flex-direction:row-reverse;
    top: 0;
    right: 0;

}


#pp_three {
    top: 30%;
    left: 0;
   
    
}
#pp_three .pp_description{
    text-align: right;
}

#pp_three h1{
    font-size: 23px;
}



#pp_four {
    
    top: 30%;
    right: 0;
   
}
#pp_four .pp_description{
    text-align: right;
}
#pp_four .pp_image{
    background-position: center;
}

#pp_five {
    flex-direction: row-reverse;
    top: 60%;
    left: 0;
   
}
#pp_five .pp_image{
    background-position: center;
}
#pp_six {
    flex-direction:row-reverse;
    top: 60%;
    right: 0;
   
}


#pp_seven {
    top: 90%;
    left: 0;

}

#pp_eight {
    
    top: 90%;
    right: 0;
 
}

#pp_nine {
    flex-direction: row-reverse;
    top: 120%;
    left: 0;
  
}

#pp_ten {
    flex-direction: row-reverse;
    top: 120%;
    right: 0;
  
    
}


.pp_image {
    position: relative;
    width: 50%;
    height: 100%;
    left: 0;
    transition: .5s;
    background-size:cover;
    /* background-color: rgb(0, 0, 0); */
}

.pp_description {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 50%;
    height: 100%;
    transition: all 0.5s ease;
    justify-content: center;
    color: white;
    background-size: 200% 100%;
    background-color: #000000;
    background-color: #0e0e0e;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #0e0e0e 10px ), repeating-linear-gradient( #2a2a2a55, #2a2a2a );    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    z-index: 1;


}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.pp_description h1{
    margin-bottom:-10px;
    font-size: 25px;
   
}
.pp_description p{
    font-size: 15px;
    
}
.pp_description p i{
    font-size: 60px;
}

@media only screen and (max-width: 900px) {
    :root {
        --s1: 100%
    }
    #projectsPageContainer {
        bottom: -20px;
        overflow: scroll;
        
    }

    #pp_one,
    #pp_two,
    #pp_three,
    #pp_four,
    #pp_five,
    #pp_six,
    #pp_seven,
    #pp_eight,
    #pp_nine,
    #pp_ten {
        cursor: pointer;
        /*width: 100%;
        */height: 40%;
        opacity: 0;
}
    #pp_one {
        top: 0;
        left: 0;
    }
    
    #pp_two {
        flex-direction:row;
        top: 40%;
        right: 0;
    }
    #pp_two .pp_description{
        text-align: right;
    }
    #pp_three {
        flex-direction: row-reverse;
        top: 80%;
        left: 0;
    
    }
    #pp_three .pp_description{
        text-align: left;
    }
    
    #pp_four {
       
        top: 120%;
        right: 0;
    }
    #pp_four .pp_description{
    text-align: right;
}

    
    #pp_five {
        top: 160%;
        left: 0;
    }
    
    #pp_six {
        flex-direction:row;
        top: 200%;
        right: 0;
    }
    #pp_six .pp_description{
        text-align: right;
    }
    
    #pp_seven {
        flex-direction: row-reverse;
        top: 240%;
        left: 0;
    }
   
    #pp_eight {
        
        top: 280%;
        right: 0;
    }
    #pp_eight .pp_description{
        text-align: right;
    }
    
    #pp_nine {
        
        top: 320%;
        left: 0;
    }
   
    
    #pp_ten {
        flex-direction:row;
        top: 360%;
        right: 0;
    }
  
}