:root {
  --s1: 50%;
  --b: 20%;
  --mainBtn: flex;
  --main-orange: rgb(255, 133, 45);
  --main-dark: rgb(27, 27, 27);
  --main-blue: rgb(10, 19, 150);

}


/* * Remove the margin in all browsers. */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  font-family: 'poppins';
  background-color: var(--main-dark);
  height: 100vh;
}

@font-face {
  font-family: "nameFont";
  src: url('../public/fonts/Shalytta-8MY0B.ttf');
}

@font-face {
  font-family: "code";
  src: url('../public/fonts/Code7X5Regular-ypBe.ttf');
}

nav {
  color: white;
  z-index: 3;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  opacity: 0;
}

#logo {
  background-image: url('../public/images/header_logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: fixed;
  top: 5px;
  left: 5px;
  height: 70px;
  width: 70px;
  z-index: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  cursor: pointer;

}

#logo:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

footer {
  color: white;
  position: fixed;
  bottom: 20px;
  left: 30px;
  font-size: 13px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

footer ul,
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

footer ul li,
nav ul li {
  list-style-type: none;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  align-self: center;

}

#email_i,
#linkedin_i,
#git_i {
  background-position: center;
  background-size: contain;
  height: 30px;
  width: 30px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#email_i {
  background-image: url('../public/images/email.png');
}

#linkedin_i {
  background-image: url('../public/images/linkedin.png');
}

#git_i {
  background-image: url('../public/images/git.png');
}

#email_i:hover,
#linkedin_i:hover,
#git_i:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
nav ul li a{
  text-decoration: none;
  color: white;
 }
nav ul li:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}


#copyright {
  position: fixed;
  right: 30px;
  bottom: 23px;
}